html,
body,
div,
span,
img {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

* {
    outline: none;
}

body {
    background-color: #191a1d;
    color: #fff;
    overflow-x: hidden;
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

img {
    width: 100%;
}

.item { /*Do I Need?*/
    user-drag: none;
    -ms-user-drag: none;
    -moz-user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
} 

#container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 2%; /*LEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEFT SPAAAAAAAAAAAAAAAAAACE*/
    grid-auto-flow: column;
    grid-auto-columns: minmax(150px, 1fr);
    overflow-x: scroll;
}

#container:before, #container:after {
    content: '';
    width: 10px;          /* sporno*/
}

.item {
      cursor: pointer;
      margin: 0.5em 0em;       
}

.item img {
    transition: all 0.1s linear;
    border-radius: 5px;
}

.item:hover img{
   transform: scale(1.05);
}


.item p {
    color: #d1d1d1;
    margin: 5px 0px 0px 0px;
    padding: 0px;
    font-size: 1em;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.1s linear;
}

.item:hover p{
    color: #fff;
    transition: all 0.1s linear;
}

#year {
    margin: 0;
    padding: 0;
    font-size: 0.7em;
    color: grey;   
}

.no-scrollbar {
    scrollbar-width: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}








.button {
  cursor: pointer;
  box-sizing: border-box;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  border: 1px solid #fff;
  border-radius: 8px;
  font-size: 16px;
  padding: 0 16px;
  height: 36px;
  opacity: 0.8;
  -webkit-transition: opacity linear 0.1s;
  transition: opacity linear 0.1s; }
  .button:hover {
    opacity: 1; }

.button-primary {
  cursor: pointer;
  box-sizing: border-box;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  background-color: #feb52b;
  border: 1px solid #feb52b;
  border-radius: 8px;
  font-size: 16px;
  padding: 0 16px;
  height: 36px;
  opacity: 0.8;
  -webkit-transition: opacity linear 0.1s;
  transition: opacity linear 0.1s;
  color: #111113; }
  .button-primary:hover {
    opacity: 1; }


@media (min-width: 1920px) {
  .button,
  .button-primary {
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    padding: 0 24px;
    opacity: 0.8;
    -webkit-transition: opacity linear 0.1s;
    transition: opacity linear 0.1s; } }

@media only screen and (min-width: 1920px) {
  .button,
  .button-primary {
    font-size: 16px;
    height: 36px;
    padding: 0 24px;
    border-radius: 8px; } }

@media (min-width: 1024px) and (max-width: 1438px) {
  .mobile {
    display: none; }
  .desktop {
    display: block; }
  .button,
  .button-primary {
    font-size: 14px;
    padding: 0 14px;
    height: 28px;
    border-radius: 4px; } }

@media (min-width: 768px) and (max-width: 1023px) {
  .button,
  .button-primary {
    font-size: 12px;
    padding: 0 12px;
    height: 24px;
    border-radius: 4px; } }

@media (max-width: 767px) {
  .mobile {
    display: block; }
  .desktop {
    display: none; }
  .button,
  .button-primary {
    font-size: 12px;
    padding: 0 12px;
    height: 24px;
    border-radius: 4px; } }

@media (max-width: 320px) {
  .mobile {
    display: block; }
  .desktop {
    display: none; } }





.footer {
    display: -webkit-box;
    display: flex;
    box-sizing: border-box;
    padding: 24px 100px 22px;
    background: #111113;
    -webkit-box-pack: justify;
    justify-content: center;
}

.footer__social-item {
    margin-right: 16px;
}

.footer__social-icon {
    width: 30px;
    height: 30px;
}


@media (min-width: 1439px) and (max-width: 1919px) {
    .footer {
        padding-right: 80px;
        padding-left: 80px;
    }
}

@media (min-width: 1024px) and (max-width: 1438px) {
    .footer__social-item {
        margin-right: 10px;
    }

    .footer__social-icon {
        width: 30px;
        height: 30px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .footer__social-item {
        margin-right: 10px;
    }

    .footer__social-icon {
        width: 30px;
        height: 39px;
    }
}

@media (max-width: 767px) {
    .footer {
        padding-right: 8px;
        padding-left: 8px;
    }

    .footer__social-item {
        margin-right: 14px;
    }

    .footer__social-icon {
        width: 30px;
        height: 30px;
    }
}
          
.video-line {
    position: relative;
    margin-bottom: 16px;

    padding-top: 6px;
    padding-bottom: 6px;
}

@media (min-width: 1024px) and (max-width: 1438px) {
    .video-line {
        margin-bottom: 24px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .video-line {
        margin-bottom: 8px;
    }
}

@media (max-width: 767px) {
    .video-line {
        margin-bottom: 0px;
        padding-bottom: 22px;
    }
}






.component-header {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 0 calc(2% + 10px);
  box-sizing: border-box; }
  .component-header__title {
    font-size: 32px;
    line-height: 32px; }

@media (min-width: 1920px) {
  .component-header {
    padding: 0 calc(2% + 10px);
    margin-bottom: 4px; }
    .component-header__title {
      font-size: 32px;
      line-height: 1.4; } 
    #container {
      grid-template-columns: 2%;}}

@media (min-width: 1439px) and (max-width: 1919px) {
  .component-header {
    margin-bottom: 6px; }
    .component-header__title {
      font-size: 24px;
      line-height: 1.4; } }

@media (min-width: 1024px) and (max-width: 1438px) {
  .component-header {
    padding: 0 calc(2% + 10px);
    margin-bottom: 6px; }
    .component-header__title {
      font-size: 20px;
      line-height: 1.4; } 
    #container {
      grid-template-columns: 2%;}}

@media (min-width: 768px) and (max-width: 1023px) {
  .component-header {
    padding: 0 calc(2% + 10px);
    margin-bottom: 6px; }
    .component-header__title {
      font-size: 18px;
      line-height: 1.4; } 
    #container {
      grid-template-columns: 2%;}}

@media (max-width: 767px) {
  .component-header {
    padding: 0 calc(2% + 10px);
    margin-bottom: 0px; }
    .component-header__title {
      font-size: 16px;
      line-height: 1.4; } 
    #container {
      grid-template-columns: 2%;}
/*    #slideBack, #slide {
    display: none; */                   /* heeeeeeeeeeeeeeeeere */
}

#slide {
  right: 0;
  border-radius: 3px 0 0 3px;
}}

.menu {
  width: 100%;
  position: responsive;
  }
  .menu__content {
    padding-top: 30px;
    padding-bottom: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between; }
    .menu__content.mobile {
      display: none; }
    .menu__content.desktop {
      display: -webkit-box;
      display: flex; }
  .menu__content-wrapper {
    -webkit-box-align: center;
            align-items: center;
    display: -webkit-box;
    display: flex; }
  .menu__item {
    cursor: pointer;}
    .menu__item.menu__item--link,
    .menu__item.menu__search span {
      position: relative; }
      .menu__item.menu__item--link:after,
      .menu__item.menu__search span:after {
        content: "";
        position: absolute;
        height: 2px;
        background: currentColor;
        width: 100%;
        left: 0;
        bottom: -10px;
        opacity: 0;
        -webkit-transition: bottom .2s ease, opacity .2s ease;
        transition: bottom .2s ease, opacity .2s ease; }
    .menu__item:hover {
      opacity: 1; }
      .menu__item:hover:after,
      .menu__item:hover.menu__search span:after {
        bottom: -4px;
        opacity: 1; }
    .menu__item:last-child {
      margin-right: 0; }
    .menu__item-logo {
      display: block; }
  .menu__logo img {
    width: 100%; }
  .menu__search {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center; }
    .menu__search span {
      position: relative; }
    .menu__search img {
      width: 20px;
      height: 22px;
      margin-right: 12px;
      position: relative; }
  .menu__item-line {
    width: 26px;
    height: 3px;
    background-color: #fff;
    border-radius: 3px;
    margin-top: 6px; }
    .menu__item-line:first-child {
      margin-top: 0; }
  .menu__sign {
    margin-right: 16px; }

@media (min-width: 1920px) {
  .menu {
    height: 96px; }
    .menu__item {
      margin-right: 40px;
      font-size: 20px;
      line-height: 1; }
    .menu__logo {
      margin-right: 80px; }
  .menu__content {
    padding-right: 2%;
    padding-left: 2%; } }

@media (min-width: 1439px) and (max-width: 1919px) {
  .menu {
    height: 96px; }
    .menu__item {
      margin-right: 40px;
      font-size: 16px;
      line-height: 1; }
    .menu__logo {
      margin-right: 80px; }
  .menu__content {
    padding-right: 2%;
    padding-left: 2%; } }

@media (min-width: 1024px) and (max-width: 1438px) {
  .menu {
    height: 80px; }
    .menu__item {
      font-size: 14px;
      line-height: 1;
      margin-right: 24px; }
    .menu__logo {
      margin-right: 60px;
      width: 120px;
      height: 30px; }
    .menu__item-line {
      width: 24px;
      height: 3px;
      margin-top: 5px; }
      .menu__item-line:first-child {
        margin-top: 0; }
  .menu__content {
    padding-right: 2%;
    padding-left: 2%; } }

@media (min-width: 768px) and (max-width: 1023px) {
  .menu {
    height: 56px; }
    .menu__item {
      font-size: 14px;
      line-height: 1;
      margin-right: 18px; }
    .menu__logo {
      margin-right: 40px;
      width: 120px;
      height: 30px; }
    .menu__item-line {
      width: 22px;
      height: 2px;
      margin-top: 5px; }
      .menu__item-line:first-child {
        margin-top: 0; }
    .menu__search span {
      display: none; }
  .menu__content {
    padding-right: 2%;
    padding-left: 2%; } }

@media (max-width: 767px) {
  .menu {
    height: 60px; }
    .menu__content.desktop {
      display: none; }
    .menu__content.mobile {
      display: -webkit-box;
      display: flex;
      height: auto;
      padding: 16px 16px 0; }
      .menu__content.mobile .menu__content-wrapper {
        width: 100%;
        -webkit-box-pack: justify;
                justify-content: space-between;
        -webkit-box-align: start;
                align-items: flex-start; }
    .menu__mobile {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
              align-items: center; }
    .menu__item-line {
      width: 22px;
      height: 2px;
      margin-top: 5px; }
      .menu__item-line:first-child {
        margin-top: 0; }
  .menu__content {
    box-sizing: border-box;
    height: 60px;
    padding-left: 2%;
    padding-right: 2%; }
  .menu__content-wrapper {
    margin-top: 0px; }
  .menu__item {
    margin-right: 24px; }
  .menu__search span {
    display: none; }
  .menu__search img {
    width: 20px;
    height: 22px;
    margin-right: 0; }
  .menu__item-logo {
    width: 120px; } }





.showcase {
  overflow: hidden;
  position: relative;}
.showcase__seo-block {
    padding: 0 80px; }

.showcase-item {
  min-height: 15vw;
  width: 100vw; }

@media only screen and (max-width: 768.03px) {
  .showcase {
    margin-top: 32px; } }

@media only screen and (max-width: 767.97px) {
  .showcase {
    margin-top: 0; } }


    





.seo-block {
  width: 100%;
  margin-bottom: 40px;
  border-radius: 1px;
  padding: 0 80px;
  box-sizing: border-box;
  display: -webkit-box;
  display: flex; }
  .seo-block__wrapper {
    border-top: 1px solid #565c67;
    border-bottom: 1px solid #565c67;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 16px 0 18px; }
  .seo-block__title {
    margin-right: 24px;
    font-size: 16px;
    line-height: 24px; }
  .seo-block__description {
    font-size: 14px;
    line-height: 24px;
    color: #565c67; }

@media only screen and (min-width: 1920px) {
  .seo-block {
    padding: 0 100px;
    margin-bottom: 60px; }
    .seo-block__title {
      font-size: 18px;
      line-height: 28px; }
    .seo-block__description {
      font-size: 16px;
      line-height: 28px; } }

@media (min-width: 1024px) and (max-width: 1438px) {
  .seo-block {
    padding: 0 60px;
    margin-bottom: 40px; }
    .seo-block__title {
      font-size: 14px;
      line-height: 24px; }
    .seo-block__description {
      font-size: 12px;
      line-height: 24px; } }

@media (min-width: 768px) and (max-width: 1023px) {
  .seo-block {
    padding: 0 24px;
    margin-bottom: 24px; }
    .seo-block__title {
      font-size: 12px;
      line-height: 16px; }
    .seo-block__description {
      font-size: 10px;
      line-height: 14px; } }

@media (max-width: 767px) {
  .seo-block {
    padding: 0 16px;
    margin-bottom: 16px; }
    .seo-block__wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column; }
    .seo-block__title {
      font-size: 12px;
      line-height: 16px; }
    .seo-block__description {
      margin-top: 8px;
      font-size: 10px;
      line-height: 14px; } }



#slideBack, #slide {
  cursor: pointer;
  position: absolute;
  top: 100%;
  width: auto;
  padding: 1.5%;
  user-select: none;
}

#slide {
  right: 0;
}


/*
   #slide {
    -webkit-transition: all linear 0.1s;
    transition: all linear 0.1s; }
     #slide:hover img {
      -webkit-transform: scale(1.2, 1.2);
              transform: scale(1.2, 1.2);
      opacity: 1; }
   #slide {

    -webkit-transition: -webkit-transform linear 0.1s;
    transition: -webkit-transform linear 0.1s;
    transition: transform linear 0.1s;
    transition: transform linear 0.1s, -webkit-transform linear 0.1s; }*/
