html,
body,
div,
span,
img {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #191a1d;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.item {
    user-drag: none;
    -ms-user-drag: none;
    -moz-user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    margin: 0.5em 0em;
    cursor: pointer;
}

.item img {
    transition: all 0.1s linear;
    border-radius: 5px;
    width: 100%;
}

.item:hover img {
    transform: scale(1.05);
}

.item p {
    color: #d1d1d1;
    margin: 5px 0px 0px 0px;
    padding: 0px;
    font-size: 1em;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.1s linear;

}

.item:hover p {
    color: #fff;
    transition: all 0.1s linear;
}

#container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 2%; /*LEEFT SPACE*/
    grid-auto-flow: column;
    grid-auto-columns: minmax(150px, 0.3fr);
    overflow-x: scroll;
}

#container:before,
#container:after {
    content: '';
    width: 10px;
    /* sporno*/
}

.no-scrollbar {
    scrollbar-width: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.footer {
    display: -webkit-box;
    display: flex;
    box-sizing: border-box;
    padding: 24px 100px 22px;
    background: #111113;
    -webkit-box-pack: justify;
    justify-content: center;
}

.footer__social-item {
    margin-right: 16px;
}

.footer__social-icon {
    width: 30px;
    height: 30px;
}

.slideBack,
.slide {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.slide {
    right: 0;
}

.slideshow-container {
    position: relative;
}

@media (max-width: 767px) {
    #container {
        grid-template-columns: 2%;
        grid-auto-columns: 40%;
    }

    .slideBack,
    .slide {
        display: none;
    }
}
